.about-background {
    background-image: url(../images/main_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--white);

}


.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 5rem auto;
    gap: 40px;
    
}

.about_section1,
.about_section2 {
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex: 1 1 600px;
    max-width: 600px;
    min-width: 240px;
    background-color: var(--white);
}

.about_section1 h1,
.about_section2 h1 {
    color: var(--darkgreen);
    font-size: 2rem;
    text-align: center;
    padding: 10px;
}

.about_section1 p,
.about_section2 p {
    color: var(--darkgreen);
    padding: 10px;
}

