.account-header {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.account-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border: 2px solid var(--darkgreen);
    max-width: 500px;

}

.signup-container,
.login-container {
    flex-direction: column;
}


.signup-container {
    display: none;
}

.signup-container.active {
    display: flex;
}

.login-container {
    display: flex;
}

.login-container.active {
    display: none;
}


#account-signup {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#account-login {
    display: flex;
    flex-direction: column;
}

.account-info {
    display: none;
}