.account-background {
    background-image: url("../images/account_img.jpg");
}

.account-main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.account-header {
    padding: 20px;
}

.account-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border: 2px solid var(--darkgreen);
    background-color: var(--white);
    width: 500px;
}

.signup-container,
.login-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.signup-container label,
.login-container label {
    margin-top: 25px ;
}

.signup-container input,
.login-container input {
    padding: 10px ;
}


.signup-container {
    display: none;
}

.signup-container.active {
    display: flex;
}

.login-container {
    display: flex;
}

.login-container.active {
    display: none;
}

#account-signup,
#account-login {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 300px;
}

#submit-signup {
    margin-top: 30px;
    background-color: var(--darkgreen);
    color: var(--white);
    font-size: 1.2rem;
    border: 2px solid var(--darkgreen);
    transition: 250ms ease-in-out;
    box-shadow: var(--darkgreen) 3px 1px 8px 0px, var(--white) -3px -1px 8px 0px;
}

.account-info {
    display: none;
}

.toggle-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
    border-top: 2px solid var(--darkgreen);
    width: 100%;
}

.toggle-form p {
    margin: 10px;
    font-size: 1.1rem
}

.toggle-form button {
    background-color: var(--white);
    color: var(--darkgreen);
    font-size: 1.2rem;
    border: 2px solid var(--darkgreen);
    width: 300px;
    padding: 10px;
    transition: 250ms ease-in-out;
    box-shadow: var(--darkgreen) 3px 1px 8px 0px, var(--white) -3px -1px 8px 0px;
}

#submit-signup:hover {
    background-color: var(--white);
    color: var(--darkgreen);
    transition: 250ms ease-in-out;
    border: 2px solid var(--darkgreen);
    box-shadow: var(--white) 3px 1px 8px 0px, var(--darkgreen) -3px -1px 8px 0px;
}

.toggle-form button:hover {
    background-color: var(--darkgreen);
    color: var(--white);
    transition: 250ms ease-in-out;
    box-shadow: var(--darkgreen) 3px 1px 8px 0px, var(--white) -3px -1px 8px 0px;
}

.account-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    padding: 30px;
    width: 800px;
    border: 2px solid var(--darkgreen);
    margin-top: 10%;
}

.account-info-header {
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid var(--darkgreen);
    width: 100%;
}

.account-info-details {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    width: 100%;
    padding: 10px;
}

.account-orders-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.account-orders-container h2 {
    border-bottom: 2px solid var(--darkgreen);
    width: 50%;
}

.account-orders {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.order-item {
    margin-top: 10px;
    border-bottom: 2px solid var(--darkgreen);
}

.order-item a {
    display: flex;
    text-decoration: none;
    color: var(--darkgreen);
    font-weight: 600;
}

.order-item img {
    max-height: 80px;
}






@media screen and (max-width: 600px) {

    .account-header {
        padding: 10px;
    }

    .account-form-container {
        width: 100%;
        gap: 10px;
        margin-top: 20px;
    }

    #account-signup,
    #account-login {
    width: 90%;
    }

    .toggle-form button {
        max-width: 90%;
    }

}