.cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-header {
    width: 700px;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid var(--darkgreen);
}

.cart-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 700px;
    padding-top: 5px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--darkgreen);
}

.cart-image img{
    max-height: 100px;
}

.cart-name {
    width: 100px;
}

.cart-name h2 {
    font-size: 1rem;
    padding-bottom: 5px;
}

.cart-name p {
    font-size: 0.8rem;
}

.cart-name span {
    font-size: 0.6rem;
}

.cart-quantity {
    display: flex;
    gap: 8px;
    align-items: center;
}

.cart-delete-item {
    max-width: 40px;
}

.cart-quantity button,
.cart-delete-item button {
    background-color: var(--white);
    color: var(--darkgreen);
    height: 25px;
    width: 25px;
    font-size: 1rem;
    border: none;
}

.cart-quantity i,
.cart-delete-item i {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 250ms ease-in-out;
    box-shadow: var(--darkgreen) 2px 1px 4px 0px, var(--white) -2px -1px 4px 0px;
}

.cart-container1 {
    width: 700px;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.delete-cart {
    border: none;
    background-color: var(--white);
    color: var(--darkgreen);
    padding: 5px 10px;
    transition: 250ms ease-in-out;
    box-shadow: var(--darkgreen) 3px 1px 8px 0px, var(--white) -3px -1px 8px 0px;
}

.cart-checkout {
    width: 200px;
    height: 40px;
    border: none;
    background-color: var(--darkgreen);
    border: none;
    color: var(--white);
    font-size: 1rem;
    transition: 250ms ease-in-out;
    box-shadow: var(--darkgreen) 3px 1px 8px 0px, var(--white) -3px -1px 8px 0px;
}

.total {
    border-bottom: 4px double var(--darkgreen);
}

.cart-checkout:hover {
    transition: 250ms ease-in-out;
    color: var(--darkgreen);
    border: 2px solid var(--darkgreen);
    background-color: var(--white);
    box-shadow: var(--white) 3px 1px 8px 0px, var(--darkgreen) -3px -1px 8px 0px;
}

.cart-quantity i:hover,
.cart-delete-item i:hover,
.delete-cart:hover {
    transition: 250ms ease-in-out;
    color: var(--white);
    background-color: var(--darkgreen);
    box-shadow: var(--white) 2px 1px 4px 0px, var(--darkgreen) -2px -1px 4px 0px;
}






