.checkout-main h2 {
    padding-bottom: 10px ;
}

.checkout-cart {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    padding: 10px;
    border: 2px solid var(--darkgreen);
    margin: 20px auto;
}

.checkout-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 2px solid var(--darkgreen);
    padding: 3px 0;
}

.checkout-items {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.checkout-info {
    display: flex;
    justify-content: space-between;

}

.checkout-total {
    display: flex;
    justify-content: flex-end;
    border-top: 2px solid var(--darkgreen);
    width: 100%;
}

.checkout-form-container {
    max-width: 800px;
    color: var(--darkgreen);
    margin: 0 auto;
    padding: 20px;
    border: 2px solid var(--darkgreen);
}

.checkout-form-container h2 {
    color: var(--darkgreen);
    
}

.checkout-form-container label {
    color: var(--darkgreen);
    font-size: 1.1rem;
}

.checkout-form-container input {
    height: 33px;
    border: 2px solid var(--darkgreen);
}

.checkout-input-container {
    display: flex;
    gap: 20px;
    
}

.checkout-address-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    padding-top: 20px ;
}

.checkout-billing-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    border-left: 2px solid var(--darkgreen);
}

.checkout-cardinfo-container {
    display: flex;
    flex-direction: column;
}

.checkout-cardinfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.checkout-cvv {
    display: flex;
    gap: 5px;
    margin-top: 30px;
}

.checkout-submit {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.checkout-submit button {
    padding: 20px;
    background-color: var(--darkgreen);
    border: none;
    color: var(--white);
    font-size: 1rem;
    transition: 250ms ease-in-out;
    box-shadow: var(--darkgreen) 3px 1px 8px 0px, var(--white) -3px -1px 8px 0px;
}

.checkout-submit button:hover {
    transition: 250ms ease-in-out;
    color: var(--darkgreen);
    background-color: var(--white);
    box-shadow: var(--white) 3px 1px 8px 0px, var(--darkgreen) -3px -1px 8px 0px;

}


@media screen and (min-height: 1080px) {
    .checkout-footer {
        position: absolute;
    }

}

@media screen and (max-width: 800px) {
    
    .checkout-form-container {
        max-width: 350px;
        width: 90%;
    }

    .checkout-input-container {
        flex-direction: column;
    }

    .checkout-cvv {
        flex-direction: column;
    }

    .checkout-year{
        display: flex;
        flex-direction: column;
    }

    .checkout-footer {
        position: relative;
    }

}

