
.contact_h1 {
    color: var(--darkgreen);
    font-size: 2rem;
}


.form_success {
    text-align: center;
    color: var(--darkgreen);
    padding: 10px;
    margin: 30px auto;
    border-radius: 5px;
    font-size: 20px;
}



.contact-background {
    background-image: url(../images/contact_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    max-width: 100%;
}


.contact-form {
    color: var(--darkgreen);
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 100px auto;
    padding: 20px;
    width: 600px;
    border: 2px solid var(--darkgreen);
    background-color: var(--white);
    box-shadow: var(--darkgreen) 3px 1px 8px 0px, var(--white) -3px -1px 8px 0px;
}

.contact-form div {
    padding: 2px 0px;
}

#subject {
    padding: 5px;
    color: var(--darkgreen);
}

input, textarea{
    width: 100%;
    margin-top: 2px;
    padding: 5px;
}

textarea {
    height: 100px;
}

.input_error {
    display: none;
    color: red;
    padding-bottom: 5px;
}

.submit_btn {
    text-align: center;
    margin-top: 30px;
}

.submit {
    color: var(--darkgreen);
    background: var(--white);
    text-align: center;
    width: 100px;
    padding: 5px;
    cursor: pointer;
    box-shadow: var(--darkgreen) 3px 1px 8px 0px, var(--white) -3px -1px 8px 0px;
}

.submit:hover {
    color: var(--white);
    transition: 250ms ease-in-out;
    background: var(--darkgreen);
    box-shadow: var(--white) 3px 1px 8px 0px, var(--darkgreen) -3px -1px 8px 0px;
}