
.contact-main {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

.contact_social_media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    max-width: 400px;
}

.contact-contactinfo,
.contact-social_media {
    background-color: var(--white);
    padding: 20px;
    border: 2px solid var(--darkgreen);
    
}

.contact-contactinfo h2,
.contact-contactinfo p,
.contact-social_media h2,
.contact-contactinfo a,
.contact-social_media a {
    color: var(--darkgreen);
    margin: 5px;
    text-decoration: none;
}


.contact-contactinfo a:hover,
.contact-social_media a:hover {
    border-bottom: 2px solid var(--darkgreen);
}


.contact_h1 {
    color: var(--darkgreen);
    font-size: 2rem;
}


.form_success {
    text-align: center;
    color: var(--darkgreen);
    padding: 10px;
    margin: 30px auto;
    border-radius: 5px;
    font-size: 20px;
}



.contact-background {
    background-image: url(../images/contact_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--white);
    width: 100%;
    height: 100%;
}


.contact-form {
    color: var(--darkgreen);
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 100px auto;
    padding: 20px;
    max-width: 600px;
    border: 2px solid var(--darkgreen);
    background-color: var(--white);
    
}

.contact-form div {
    padding: 2px 0px;
}

#subject {
    padding: 5px;
    color: var(--darkgreen);
}

input, textarea{
    width: 100%;
    margin-top: 2px;
    padding: 5px;
}

textarea {
    height: 100px;
}

.input_error {
    display: none;
    color: red;
    padding-bottom: 5px;
}

.submit_btn {
    text-align: center;
    margin-top: 30px;
}

.submit {
    color: var(--darkgreen);
    background: var(--white);
    text-align: center;
    width: 100px;
    padding: 5px;
    cursor: pointer;
    box-shadow: var(--darkgreen) 3px 1px 8px 0px, var(--white) -3px -1px 8px 0px;
}

.submit:hover {
    color: var(--white);
    transition: 250ms ease-in-out;
    background: var(--darkgreen);
    box-shadow: var(--white) 3px 1px 8px 0px, var(--darkgreen) -3px -1px 8px 0px;
}

.contact-footer {
    position: absolute;
    bottom: 0;
}




@media screen and (max-width: 800px) {

    .contact-footer {
        position: relative;
    }

    .contact-main {
        justify-content: space-between;
        flex-direction: column-reverse;
        max-width: 400px;
    }

    .contact_social_media {
        gap: 10px;
        margin: 0 auto;
    }

}