.message-container {
    position: absolute;
    top: 124.44px;
    width: 100%;
    background-color: var(--lightgreen);
    z-index: 50;
}

.messages,
.message-link {
    text-align: center;
    color: var(--white);
    height: 30px;
    width: 100%;
    font-size: 20px;
}

.message-link a{
    text-decoration: none;
    color: var(--darkgreen);
    background-color: var(--white);
    padding: 6px;

}

.details-container {
    display: flex;
    justify-content: center;
    padding: 100px;
}

.details {
    background: var(--white);
    display: flex;
    gap: 30px;
    
}

.details-product-image {
    display: block;
    max-width: 100%;
    padding: 0 30px;
    border-right: 2px solid var(--darkgreen);

}

.details-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    gap: 40px;

}

.details-info p {
    padding: 10px 0;
}


.details-product-button {
    cursor: pointer;
    width: 200px;
    background-color: var(--darkgreen);
    color: var(--white);
    border: none;
    height: 40px;
}