.message-container {
    background-color: var(--lightgreen);
    z-index: 50;
}

.messages,
.message-link {
    text-align: center;
    color: black;
    height: 30px;
    width: 100%;
    font-size: 20px;
}

.message-link a{
    text-decoration: none;
}