@import "../styles/variables.css";

.top-info {
    background-color: var(--lightgreen);
    display: flex;
    justify-content: space-evenly;
    color: var(--white);
    font-size: 20px;
    font-weight: var(--bold);
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainlogo {
    display: block;
    margin: 10px 30px;
}

.mainlogo img {
    max-width: 150px;

}

.active {
   border-bottom: 2px solid var(--darkgreen);
}

.nav-links {
    font-size: 23px;
    font-family: var(--tahoma);
}

.nav-links a {
    margin: 5px;
    text-decoration: none;
    color: var(--darkgreen);
    font-weight: var(--bold);
    background-image: linear-gradient(var(--darkgreen), var(--darkgreen));
    background-size: 0% 2px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size 200ms ease-in-out;
}


.nav-links a:hover,
.cta-icons a:hover {
    transition: 50ms linear;
    border-bottom: 2px solid var(--darkgreen);
}

.cta-icons {
    display: block;
    display: flex;
    align-items: center;
}

#search{
    color: var(--darkgreen);
    border-bottom: solid 2px var(--darkgreen);
    height: 28px;   
}

.submit-btn {
    color: var(--darkgreen);
    background-color: var(--white);
    border: none;
    height: 28px;
    width: 28px;
    font-size: 23px;
}

.cta-icons {
    margin-right: 30px;
}

.cta-icons a {
    text-decoration: none;
    color: var(--darkgreen);
    font-size: 23px;
    font-weight: var(--bold);
    font-family: var(--tahoma);
}
