.top-info {
    background-color: var(--lightgreen);
    display: flex;
    justify-content: space-evenly;
    color: var(--white);
    font-size: 1.1rem;
    font-weight: var(--bold);
    width: 100%;
    padding: 10px;
}

header {
    width: 100%;
    top: 0;
    background-color: var(--white);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--tahoma);
    border-bottom: 2px solid var(--darkgreen);
    width: 100%;
    padding: 10px 30px;
}

.mainlogo {
    display: block;

}

.mainlogo_img {
    max-width: 140px;
}


.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: var(--darkgreen);
}

.active-page {
    border-bottom: 2px solid var(--darkgreen);
}

.nav-menu {
    font-size: 1.2rem;
}

.nav-menu ul {
    display: flex;
}

#search,
#hamburger-search {
    display: none;
}

#search.active {
    display: inline;
    position: absolute;
    right: 180px;
}

.nav-menu li {
    list-style-type: none;
}

.nav-menu a {
    margin: 5px;
    text-decoration: none;
    transition: 50ms linear;
    color: var(--darkgreen);
    font-weight: var(--bold);
}

.nav-menu a:hover,
.submit-btn:hover {
    transition: 50ms linear;
    border-bottom: solid 2px var(--darkgreen);
}

.cta-icons {
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 50ms linear;
}

.cart-link a {
    text-decoration: none;
    color: var(--darkgreen);
    font-size: 1rem;
    font-weight: var(--bold);
    transition: 50ms linear;
}

.cart-link a:hover {
    text-decoration: underline 2px var(--darkgreen);
}

#search,
#hamburger-search {
    color: var(--darkgreen);
    border: solid 2px var(--darkgreen);
    height: 35px;
    width: 150px;
    transition: 50ms linear;
}

.submit-btn {
    color: var(--darkgreen);
    background-color: var(--white);
    border: none;
    height: 30px;
    width: 26px;
}

.submit-btn i {
    font-size: 26px ;
}

.submit-btn:hover {
    cursor: pointer;
}

.account-link a {
    color: var(--darkgreen);
    font-size: 26px;
}

.account-link a:hover {
    border-bottom: 2px solid var(--darkgreen);
}

.main_img {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(../images/main_img.jpg);
    height: 500px;
}

.main_img h1 {
    margin: 2rem;
    font-size: 1.8rem;
    color: var(--darkgreen);
}

.shop-cta,
.shop-cta-shop {
    list-style: none;
    display: flex;
    gap: 60px;
}

.shop-cta a,
.shop-cta-shop a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 120px;
    background-color: var(--white);
    text-decoration: none;
    font-weight: bold;
    color: var(--darkgreen);
    transition: 250ms ease-in-out;
    box-shadow: var(--darkgreen) 6px 2px 16px 0px, var(--white) -6px -2px 16px 0px;
}

.shop-cta a:hover,
.shop-cta-shop a:hover {
    background-color: var(--darkgreen);
    color: var(--white);
    transition: 250ms ease-in-out;
    box-shadow: var(--white) 6px 2px 16px 0px, var(--darkgreen) -6px -2px 16px 0px;
}

.quotes-container {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--darkgreen);
    color: var(--white);
    padding: 5px;
}

.quotes-container p {
    text-align: center;
    font-family: "quote";  
    font-size: 1.1rem;
}

.headline-random-products {
    text-align: center;
    margin-top: 40px;
    font-size: 1.4rem;
    color: var(--darkgreen);
    border-bottom: 2px solid var(--darkgreen);
}

.contact-info {
    margin: 20px;
}

.contact-info a,
.contact-info p {
    text-decoration: none;
    color: var(--white);
    font-size: 0.9rem;
}

#subscribe-container {
    width: 230px;
    text-align: center;
    
}

.submit-input-container {
    display: flex;
    height: 35px;
}

#submit-subscribe {
    width: 40%;
}

.socialmedia_icons {
    margin: 20px;
}

.socialmedia_icons a {
    text-decoration: none;
}

.socialmedia_icons img {
    height: 30px;
    margin: 10px;
}