.top-info {
    background-color: var(--lightgreen);
    display: flex;
    justify-content: space-evenly;
    color: var(--white);
    font-size: 20px;
    font-weight: var(--bold);
    width: 100%;
}

header {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: var(--white);
}

nav {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--tahoma);
    border-bottom: 2px solid var(--darkgreen);
    width: 100%;
    padding: 10px 30px;
}

.mainlogo {
    display: block;
    
}

.mainlogo_img {
    max-width: 80px;
}


.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: var(--darkgreen);
}

.active-page {
   border-bottom: 2px solid var(--darkgreen);
}

.nav-menu {
    font-size: 23px;
    margin-left: 2rem;
}

.nav-menu ul {
    display: flex;
}

#hamburger-search {
    display: none;
}

.nav-menu li {
    list-style-type: none;
}

.nav-menu a {
    margin: 5px;
    text-decoration: none;
    color: var(--darkgreen);
    font-weight: var(--bold);
}

.nav-menu a:hover,
.cta-icons a:hover,
.submit-btn:hover {
    transition: 50ms linear;
    border-bottom: solid 2px var(--darkgreen);
}

.cta-icons {
    display: block;
    display: flex;
    align-items: center;
}

.cart-link a {
    margin-left: 10px;
    text-decoration: none;
    color: var(--darkgreen);
    font-size: 23px;
    font-weight: var(--bold);
    align-items: flex-start;
}


#search,
#hamburger-search{
    color: var(--darkgreen);
    border: solid 2px var(--darkgreen);
    height: 28px;
    width: 150px;
}

.submit-btn {
    color: var(--darkgreen);
    background-color: var(--white);
    border: none;
    height: 28px;
    width: 28px;
    font-size: 23px;
}

.submit-btn:hover {
    cursor: pointer;
}

main {
    max-width: 2560px;
    margin: auto;
}

.main_img {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(../images/main_img.jpg);
    background-position: center;
    background-repeat: none;
    background-size: cover;
    height: 500px;
}

.main_img h1{
    margin: 2rem;
    font-size: 2rem;
    color: var(--darkgreen);
}

.shop-cta {
    list-style: none;
    display: flex;
    gap: 20px;
}

.shop-cta a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px ;
    width: 120px;
    background-color: var(--white);
    text-decoration: none;
    font-weight: bold;
    color: var(--darkgreen);
    box-shadow: var(--darkgreen) 6px 2px 16px 0px, var(--white) -6px -2px 16px 0px;
}

.shop-cta a:hover {
    background-color: var(--darkgreen);
    color: var(--white);
    transition: 250ms ease-in-out;
    box-shadow: var(--white) 6px 2px 16px 0px, var(--darkgreen) -6px -2px 16px 0px;
}

.quotes-container {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--darkgreen);
    color: var(--white);
    
}

.headline-random-products {
    text-align: center;
    margin-top: 50px;
    font-size: 1.7rem;
    color: var(--darkgreen);
}

footer {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--darkgreen);
    color: var(--white);
    width: 100%;
}

.contact-info {
    margin: 20px;
}


.contact-info a,
.contact-info p {
    text-decoration: none;
    color: var(--white);
    font-size: 0.9rem;
}

#subscribe-container {
    width: 250px;
    text-align: center;
}

.submit-input-container {
    display: flex;
}

#submit-subscribe {
    width: 40%;
}

.socialmedia_icons {
    margin: 20px;
}

.socialmedia_icons a {
    text-decoration: none;
}

.socialmedia_icons img {
    height: 30px;
    margin: 10px;
}

@media screen and (min-height: 1081px) {

    .index-page {
        position: absolute;
        bottom: 0;
    }
}

@media screen and (max-width: 800px) {
    
    .credibility {
        display: none;
    }

    .search-input {
        display: none;
    }

    #hamburger-search {
        display: block;
        width: auto;
    }
    
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: absolute;
        display: none;
        right: -100%;
        top: 100px;
        overflow: hidden;
        justify-content: center;
        text-align: center;
        background-color: var(--white);
        transition: 0.3s;
    }

    .nav-menu ul{
        flex-direction: column;       
    }

    .nav-menu input {
        margin: 10px;
        height: 25px;
    }

    .nav-menu ul li {
        margin-top: 20px;
    }

    .nav-menu.active {
        display: block;
        right: 0px;
        width: 150px;
        height: 250px;
        top: 93px;
        border: 2px solid var(--darkgreen);
    }

    footer {
        display: flex;
        flex-direction: column-reverse;
        background-color: var(--darkgreen);
        color: var(--white);
        width: 100%;
        
    }

}

@media screen and (max-width: 600px) {


.main_img h1{
    margin: 1.5rem 1rem;
    font-size: 1.5rem;
    
}

h2 {
    font-size: 1.3rem;
}


}
