@media screen and (max-width: 1239px) {

    .about-footer {
        position: relative;
    }

}

@media screen and (max-width: 1130px) {
    
   /*  .contact-footer {
        position: relative;
    } */
}

@media screen and (max-width: 1000px) {

    .mainlogo_img {
        max-width: 80px;
    }

}


@media screen and (max-width: 800px) {
    
    .credibility {
        display: none;
    }

    .search-input {
        display: none;
    }

    #hamburger-search {
        display: block;
        width: auto;
    }
    
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: absolute;
        display: none;
        right: -100%;
        top: 100px;
        overflow: hidden;
        justify-content: center;
        text-align: center;
        background-color: var(--white);
        transition: 0.4s ease-in-out;
    }

    .nav-menu ul{
        flex-direction: column;       
    }

    .nav-menu input {
        margin: 10px;
        height: 25px;
    }

    .nav-menu ul li {
        margin-top: 20px;
    }

    .nav-menu.active {
        display: block;
        position: absolute;
        z-index: 5;
        right: 0;
        width: 100%;
        height: 250px;
        top: 93px;
        border: 2px solid var(--darkgreen);
    }

    footer {
        display: flex;
        flex-direction: column-reverse;
        background-color: var(--darkgreen);
        color: var(--white);
        width: 100%;
        
    }

    .filter-container-all {
        display: none;
        flex-direction: column;
        align-content: center;
        position: absolute;
        top: 0;
        left: -100%;
        max-width: 800px;
        background-color: var(--white);
        transition: 250ms ease-in-out;
    }

    .filter-container-all.active {
        display: flex;
        width: 100%;
        position: absolute;
        top: 128px;
        left: 0;
    }

    .filter-close-btn.active {
        display: flex;
        justify-content: center;
    }

    .filter-menu-open {
        display: flex;
        cursor: pointer;
        padding: 10px;
        height: 40px;
    }

    .products,
    .random-products-container{
        max-width: 1000px;
        margin: 30px auto;
        gap: 10px;
    }

    .product,
    .random-product {
        margin: 0px;
        padding: 5px;
        display: flex;
        flex: 1 1 140px;
        max-width: 200px;
    }

    .about_section1,
    .about_section2 {
        flex: 1 1 400px;
        max-width: 400px;
        min-width: 300px;
    }

    .contact-footer {
        position: relative;
    }

    .message-container {
        position: fixed;
        top: 0 ;
    }

    .details {
        flex-direction: column;
    }

    .details-product-image {
        max-height: 400px;
        border: none;
    }
    
    .details-info {
        padding: 0px 30px;
        flex-direction: column-reverse;
    }

}

@media screen and (max-width: 600px) {
    
    
    .main_img h1{
        margin: 1.5rem 1rem;
        font-size: 1.5rem;
        
    }
    
    h2 {
        font-size: 1.3rem;
    }
    
}

@media screen and (max-width: 500px) {

    .product,
    .random-product {
        margin: 0px;
        padding: 5px;
        display: flex;
        flex: 1 1 10px;
        
    }
    
}