.messages {
    position: fixed;
    text-align: center;
    color: white;
    height: 30px;
    width: 100%;
    font-size: 20px;
}

.products,
.random-products-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.product,
.random-product {
    margin: 20px;
    background: var(--white);
    padding: 20px;
    display: flex;
    flex: 1 1 250px;
    max-width: 300px;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.product h3,
.random-product h3 {
    font-size: 1.3rem;
}

.product p,
.random-product p {
    font-size: 0.8rem;
}

.product-image,
.random-product-image {
    background-size: cover;
    height: 150px;
}

.product-price,
.random-product-price {
    font-size: 20px;
    margin: 10px 0;
}

.product-button,
.random-product-button {
    background-color: white;
    border: 0px;
    padding: 10px;
    transition: all 1s;
    font-weight: bold;
}

.product-button:hover {
    cursor: pointer;
}

.cart-link {
    display: flex;

}

.cart-stats {
    display: flex;
    flex-direction: column;
    font-size: 15px;
}

@media screen and (max-width: 800px) {

.product,
.random-product {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex: 1 1 140px;
    max-width: 200px;
}

}

