.shop-cta-shop {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 40px;
    list-style: none;
    border-bottom: 2px solid var(--darkgreen);
    font-size: 1.3rem;
    padding: 5px 0px;
}

.shop-cta-shop a {
    text-decoration: none;
    color: var(--darkgreen);
    font-weight: var(--bold);
}

.background-image-shop {
    width: 100%;
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: cover;
}

.filter-container-all {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 10px;
    padding: 10px;
    align-content: center;
    max-width: 800px;
    width: 100%;
    position: relative;
}

.filter-container-all button {
    height: 50px;
    width: 100%;    
}

.filter-container-2 {
    
}

.filter-container1,
.filter-container2 {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    gap: 20px;
}


.size-container,
.color-container,
.activity-container,
.sortby-container {
    width: 100%;
}

.size-list,
.color-list,
.activity-list,
.sortby-list {
    display: none;
    list-style: none;
    padding: 10px;
    width: 100%;
    border-left: 2px solid var(--darkgreen);
    border-right: 2px solid var(--darkgreen);
    border-bottom: 2px solid var(--darkgreen);
}

.size-list li,
.color-list li,
.activity-list li,
.sortby-list li {
    margin: 10px;
    border-bottom: 1px solid var(--darkgreen);
    color: var(--darkgreen);
}


.size-list.active,
.color-list.active,
.activity-list.active,
.sortby-list.active {
    display: block;
    background-color: var(--white);

    
}

.filter-button {
    background-color: var(--white);
    font-size: 1.1rem;
    box-shadow: var(--darkgreen) 3px 1px 8px 0px, var(--white) -3px -1px 8px 0px;
}

.size-list li:hover,
.color-list li:hover,
.activity-list li:hover,
.sortby-list li:hover,
.filter-button:hover {
    background-color: var(--darkgreen);
    color: var(--white);
    transition: 250ms ease-in-out;
    cursor: pointer;
    
}

.products,
.random-products-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 50px auto;
    gap: 15px;
    padding-bottom: 40px;
    
}

.products a,
.random-products-container a {
    text-decoration: none;
    color: var(--darkgreen);
    
}

.product,
.random-product {
    background: var(--white);
    display: flex;
    flex: 1 1 250px;
    max-width: 250px;
    min-width: 200px;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.product h3,
.random-product h3 {
    font-size: 1.3rem;
}

.product span,
.random-product span {
    font-size: 0.8rem;
}

.product-image,
.random-product-image {
    background-size: cover;
    height: 150px;
}

.product-price,
.random-product-price {
    font-size: 20px;
    margin: 10px 0;
}

.product-button,
.random-product-button {
    background-color: white;
    border: 0px;
    padding: 10px;
    transition: all 1s;
    font-weight: bold;
}

.product-button:hover {
    cursor: pointer;
}

.cart-link {
    display: flex;

}

.cart-stats {
    display: flex;
    flex-direction: column;
    font-size: 15px;
}

@media screen and (max-width: 800px) {

    .filter-container-all {
        flex-direction: column-reverse;
        margin: 0 auto;
        gap: 10px;
        padding: 10px;
        align-content: center;
        max-width: 800px;
        width: 100%;
        background-color: var(--white);
    }

    .products,
    .random-products-container{
        max-width: 1000px;
        margin: 30px auto;
        gap: 10px;
    }

    .product,
    .random-product {
        margin: 0px;
        padding: 5px;
        display: flex;
        flex: 1 1 140px;
        max-width: 200px;
    }

}

@media screen and (max-width: 500px) {

    .product,
    .random-product {
        margin: 0px;
        padding: 5px;
        display: flex;
        flex: 1 1 10px;
        
    }
    
    
    }