.shop-cta-shop {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 40px;
    list-style: none;
    border-bottom: 2px solid var(--darkgreen);
    font-size: 1.3rem;
    padding: 10px 0px;
}

.shop-cta-shop a {
    text-decoration: none;
    color: var(--darkgreen);
    font-weight: var(--bold);
}

.products,
.random-products-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 50px auto;
    gap: 15px;
}

.product,
.random-product {
    background: var(--white);
    display: flex;
    flex: 1 1 250px;
    max-width: 250px;
    min-width: 200px;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.product h3,
.random-product h3 {
    font-size: 1.3rem;
}

.product span,
.random-product span {
    font-size: 0.8rem;
}

.product-image,
.random-product-image {
    background-size: cover;
    height: 150px;
}

.product-price,
.random-product-price {
    font-size: 20px;
    margin: 10px 0;
}

.product-button,
.random-product-button {
    background-color: white;
    border: 0px;
    padding: 10px;
    transition: all 1s;
    font-weight: bold;
}

.product-button:hover {
    cursor: pointer;
}

.cart-link {
    display: flex;

}

.cart-stats {
    display: flex;
    flex-direction: column;
    font-size: 15px;
}

@media screen and (max-width: 800px) {

    .products,
    .random-products-container{
        max-width: 1000px;
        margin: 30px auto;
        gap: 10px;
    }

    .product,
    .random-product {
        margin: 0px;
        padding: 5px;
        display: flex;
        flex: 1 1 140px;
        max-width: 200px;
    }

}

@media screen and (max-width: 500px) {

    .product,
    .random-product {
        margin: 0px;
        padding: 5px;
        display: flex;
        flex: 1 1 10px;
        
    }
    
    
    }